.idea/
x-poly/include/x-poly/voronoi/lib
x-poly/include/x-poly/models/hole/clipper/lib/clipper.hpp
x-poly/src/models/hole/clipper/lib/clipper.cpp
x-poly/src/voronoi/lib/triangle.o
x-poly/src/voronoi/lib/triangle.c
veamy/include/veamy/lib
python-visualization/.idea/
python-visualization/__pycache__
test/dealii-test/
test/libmesh-test/

test/dealii-test/
test/libmesh-test/




