.idea/
x-poly/include/x-poly/models/hole/clipper/lib/clipper.hpp
x-poly/src/models/hole/clipper/lib/clipper.cpp
x-poly/src/voronoi/lib/triangle.o
x-poly/src/voronoi/lib/triangle.c
veamy/include/veamy/lib
cmake-build-debug/

x-poly/include/x-poly/voronoi/lib/
results/