.idea/
x-poly/include/x-poly/voronoi/lib/triangle.h
x-poly/include/x-poly/models/hole/lib/clipper.hpp
x-poly/src/models/hole/lib/clipper.cpp
x-poly/src/voronoi/lib/triangle.h
x-poly/src/voronoi/lib/triangle.o
x-poly/src/voronoi/lib/triangle.c
veamy/include/veamy/lib
python-visualizer/.idea/
python-visualizer/__pycache__


test/dealii-test/
test/libmesh-test/
test/fracture-test/

